*{
	margin:0;
	padding:0;
}
div{
	border:1px solid black;
}
img{width:100%;
	height:100%;
}

.contenedor{
	width:70%;
	max-width:1000px;
	margin:auto;
	background: -webkit-linear-gradient(to left, #3F5EFB, #FC466B); 
	background: linear-gradient(to left, #3F5EFB, #FC466B); 
}
.encabezado{
	width:100%;
	height:100px;
}

.articulo{
	height:auto;
}
.totalnotas{
	width:70%;
	height:auto;
	float:left;
	
}

.imgnotas{
	width:100%;
	height:100px;
}
.nota{
	margin-left:71%;
	width:28%;	
	
}
.aside{
	height:310px;
}
#mapa{
   width: 100%;
   height: 400px;
   background-color: grey;	
}

@media screen and (max-width:600px){
	.contenedor{	
	background: linear-gradient(to left, #f12711,#f5af19);
	}
	.totalnotas{
		width:100%;		
	}
	.encabezado{
		height:80px;
	}
	.nota{
		width:100%;		
		margin-left:0%;
	}
	.aside{
		height:100px;
	}
}





