*{

-webkit-box-sizing: border-box;
-moz-box-sizing:border-box;
box-sizing: border-box;
}

.menu_bar{
  display: none;
}
header{
  margin: auto;
   width: 100%;
}
header nav{
  background: black;
  z-index: 1000;

  padding-left: 30%;

}
header nav ul {

  list-style: none;

}
header nav .nave {
  margin-left: 60px;
  margin-top: -60px;
  list-style: none;

}

header nav ul li{
  display: inline-block;
  position: relative;

}
header nav ul li:hover{
  background: rgba(100, 149, 237,.5)  ;
}
header nav ul li a{
  display: block;
  text-decoration: none;
  padding: 20px;
  color: white;
}
header nav ul li:hover .children{
  display: block;
}
header nav ul li .children{
  display: none;
  background: black;

  position: absolute;
  z-index: 1000;
  width: 150%;
}
header nav ul li .children li{
  display: block;
  border-bottom: 1px solid rgba(255,255,255,.5)
}
@media screen and (max-width:800px){
  .cabecera{
    display: none;
    margin-left: -65px;
  }
  header nav .nave {
    margin-left: 0;
    margin-top: 0;
    list-style: none;

  }

  body{
    width: 100%;
    padding-top:  70px;
  }
  .menu_bar{
    display: block;
    width: 100%;

    position: fixed;
    top: 0;
    background: rgba(0, 0, 255,.8);
  }
  .fa-align-justify{
    float: right;
  }
  .menu_bar .bt-menu{
    display: block;
    padding: 20px;
    color: white;

    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }

  header nav{
    width: 80%;
    height: calc(100%-100px);
    position: fixed;
    right: 100%;
    margin: 0;
    padding-left: 0;


  }
  header nav ul li{
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.5)
  }
  header nav ul li a {
    display: block;
  }
    header nav ul li:hover .children{
      display: none;
  }
  header nav ul li .children{
    width: 100%;
    position: relative;

  }
    header nav ul li .children li a{
      margin-left: 20px;
    }

}
